<html>

<head>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>

<body>

  <div id="app">
    <!-- Template for GitHub card -->
    <!-- Not binding the prop to the parent -->
    <github-user-card username="bladedevleoper"></github-user-card>
  
  </div>

  <!-- Import Vue.js and axios -->
  <script src="https://unpkg.com/vue"></script>
  
  <!-- Your JavaScript Code : -->
  <script type="text/x-template" id="personal-image-component">
    
    <div class="image">
      <img :src="image" alt="James Image" title="A picture of James from his GitHub profile">
    </div>
  
  </script>
  <script type="text/x-template" id="personal-details-component">
    
    <div class="content">
      <a class="header">{{ name }}</a>
      <div class="meta">
        <span class="date">Joined in {{ year }}</span>
      </div>
      <div class="description">
        {{ description }}
      </div>
    </div>
  
  </script>
  <script type="text/x-template" id="personal-extra-details-component">
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        {{followers}} Friends
      </a>
    </div>
  </script>
<script type="text/x-template" id="github-user-card">
  
    <div class="ui container">
      <h1>GitHub Profiles</h1>
      <div class="ui card">
        <personal-image-component :image="data.avatarImage"></personal-image-component>
        <personal-details-component :name="data.name" :year="data.joined" :description="data.bio"></personal-details-component>
        <personal-extra-details-component :followers="data.followers"></personal-extra-details-component>
      </div>
    </div>
  
</script>
<script>
     const PersonalImageComponent = {
      template: '#personal-image-component',
      props:['image'],
    };
    const PersonalDetailsComponent = {
      template: '#personal-details-component',
      props: ['name','year','description']
    };

    const PersonalExtraDetialsComponent = {
      template: '#personal-extra-details-component',
      props:['followers'],
    };
      Vue.component('github-user-card', {
        template: '#github-user-card',
        props: {
            username: {
              type: String,
              required: true
          } 
        },
        components: {
          'personal-image-component': PersonalImageComponent,
          'personal-details-component': PersonalDetailsComponent,
          'personal-extra-details-component': PersonalExtraDetialsComponent,
        },
        data: function () {
          return {
            data: {
                avatarImage: '',
                name: '',
                joined: '',
                bio: '',
                followers: '',
              },
              url: 'https://api.github.com/users',
              //userName:'bladedevleoper',
          };
        },
        created(){
          fetch(`${this.url}/${this.username}`)
          .then((request) => request.json())
          .then((response) => {
            this.data.avatarImage = response.avatar_url;
            this.data.name = response.name;
            this.data.joined = this.getDateJoined(response.created_at);
            this.data.bio = response.bio;
            this.data.followers = response.followers;   
          });
        },
        methods: {
          getDateJoined: function (date) {
            const splitDate = date.split('T').shift().split('-');
            const year = splitDate.shift();
            
            return `${year}`;
          },
        }
    });
</script>
  <script>
    new Vue({
      el: '#app'
    })
  </script>
</body>

</html>